[submodule "coupling_lib/MUI"]
	path = coupling_lib/MUI
	url = https://github.com/MxUI/MUI.git
[submodule "src/fluid/OpenFOAM_ESI"]
	path = src/fluid/OpenFOAM_ESI
	url = https://github.com/ParaSiF/ParaSiF_OpenFOAM_ESI_Fluid_Submodule.git
